{%extends 'base.html'%}
{%load static%}

{%block head%}
<script src="{% static 'js/bs_form.js' %}"></script>
<link rel="stylesheet" href="{% static 'users/css/auth_form.css' %}">
{%endblock%}
{%block content%}
<div class="login-form-wrap">
    <form method="" action="" class="" id="login-form">
        <div class="invalid-feedback non-field-invalid-feedback"></div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required
                name="email" >
                <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required name="password">
            <div class="invalid-feedback"></div>
        </div>

        <button type="submit" class="btn btn-primary">Войти</button>
        <div class="" id="registry">
            <a href="{%url 'users:reset_password' %}" class="link-primary">Забыли пароль? Востаноить</a><br>
            <a href="{%url 'users:sign_up' %}" class="link-primary">Нет аккаунта? Зарегестрируйтесь</a>
        </div>
    </form>

</div>

<script>
    var loginFormElem = document.getElementById('login-form')
    var loginForm = new BsJsonForm(loginFormElem)
    var csrf = '{{csrf_token}}'
    var loginUrl = "{%url 'users:login'%}"
    var headers = {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf,
    }
    
    loginForm.submitFunction = login

    async function login(e) {
        e.preventDefault()
        var response = await fetch(loginUrl, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(loginForm.toDict())
        })
        if (response.ok){
            window.location.href = '/'
        } else {
            loginForm.showErrors(await response.json())
        }
    }
</script>
{%endblock%}
