{%extends 'base.html'%}
{%load static%}

{%block head%}
<script src="{% static 'js/bs_form.js' %}"></script>
<link rel="stylesheet" href="{% static 'users/css/auth_form.css' %}">
{%endblock%}
{%block content%}
<div class="container">
    <h1>Сброс пароля</h1>
</div>
<div class="login-form-wrap">
    <form method="" action="" class="" id="reset-password-for-email-form">
        <div class="invalid-feedback non-field-invalid-feedback"></div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required
                name="email">
            <div class="invalid-feedback"></div>
        </div>
        <button type="submit" class="btn btn-primary">Отправить письмо</button>
    </form>
    <form method="" action="" class="" id="activate-reset-code" style="display: none;">
        <p>Введите проверочный код из письма</p>
        <div class="invalid-feedback non-field-invalid-feedback"></div>
        <div class="mb-3">
            <label for="verificationCode" class="form-label">Verification Code</label>
            <input type="text" class="form-control" id="verificationCode" aria-describedby="emailHelp" required
                name="reset_password_code">
            <div class="invalid-feedback"></div>
        </div>
        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
    </form>
    <form method="" action="" class="" id="new-password-form" style="display: none;">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password 1</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required name="password1">
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password 2</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required name="password2">
            <div class="invalid-feedback"></div>
        </div>
        <button type="submit" class="btn btn-primary">Обновить пароль</button>
    </form>
</div>

<script>
    const resetPasswordForEmailFormElem = document.getElementById('reset-password-for-email-form')
    const activateResetCodeFormElem = document.getElementById('activate-reset-code')
    const newPasswordFormElem = document.getElementById('new-password-form')
    var createResetCodeUrl = "{% url 'users:resetuserpasswordcode-list' %}"
    var activate_reset_password_url = null
    var reset_password_url = null
    var email = null
    var csrf = '{{csrf_token}}'
    var headers = {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf,
    }

    function showActivateResetPasswordCodeForm() {
        resetPasswordForEmailFormElem.style.display = 'none'
        activateResetCodeFormElem.style.display = 'block'
    }
    function showNewPasswordForm(){
        activateResetCodeFormElem.style.display = 'none'
        newPasswordFormElem.style.display = 'block'
    }
    var resetPasswordForEmailForm = new BsJsonForm(resetPasswordForEmailFormElem)
    resetPasswordForEmailForm.submitFunction = resetPasswordForEmail

    var activateResetCodeForm = new BsJsonForm(activateResetCodeFormElem)
    activateResetCodeForm.submitFunction = activateResetCode

    var newPasswordForm = new BsJsonForm(newPasswordFormElem)
    newPasswordForm.submitFunction = newPassword

    async function resetPasswordForEmail(e) {
        e.preventDefault()
        var data = resetPasswordForEmailForm.toDict()
        resetPasswordForEmailForm.disable()
        var response = await fetch(createResetCodeUrl, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(data)
        })
        if (response.ok) {
            var resetCode = await response.json()
            activate_reset_password_url = resetCode['activate_reset_password_url']
            reset_password_url = resetCode['reset_password_url']
            email = resetCode['email']
            showActivateResetPasswordCodeForm()
            console.log(resetCode)
        } else {
            resetPasswordForEmailForm.showErrors(await response.json())
        }
        resetPasswordForEmailForm.enable()
    }


    async function activateResetCode(e) {
        e.preventDefault()
        console.log('activateResetCode')
        var data = activateResetCodeForm.toDict()
        activateResetCodeForm.disable()
        var response = await fetch(activate_reset_password_url, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(data)
        })
        if (response.ok) {
            console.log(await response.json())
            showNewPasswordForm()
        } else {
            activateResetCodeForm.showErrors(await response.json())
        }
        activateResetCodeForm.enable()
    }

    async function newPassword(e){
        e.preventDefault()
        console.log('newPassword')
        var data = newPasswordForm.toDict()
        newPasswordForm.disable()
        var response = await fetch(reset_password_url, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(data)
        })
        if (response.ok) {
            console.log(await response.json())
            // showNewPasswordForm()
        } else {
            newPasswordForm.showErrors(await response.json())
        }
        newPasswordForm.enable()
    }
</script>
{%endblock%}