{%extends 'base.html'%}
{%load static%}

{%block head%}
<script src="{% static 'js/bs_form.js' %}"></script>
<link rel="stylesheet" href="{% static 'users/css/auth_form.css' %}">
{%endblock%}
{%block content%}
<div class="login-form-wrap">
    <form method="" action="" class="" id="login-form">
        <div class="invalid-feedback non-field-invalid-feedback"></div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required
                name="email" >
                <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password 1</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required name="password1">
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password 2</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required name="password2">
            <div class="invalid-feedback"></div>
        </div>

        <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
        <div class="" id="registry">
            <a href="{%url 'users:login' %}" class="link-primary">Уже есть аккаунт? Войтиде</a>
        </div>
    </form>

</div>

<script>
    var loginFormElem = document.getElementById('login-form')
    var loginForm = new BsJsonForm(loginFormElem)
    var csrf = '{{csrf_token}}'
    var loginUrl = "{%url 'users:sign_up'%}"
    var headers = {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf,
    }
    
    loginForm.submitFunction = login

    async function login(e) {
        e.preventDefault()
        var response = await fetch(loginUrl, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(loginForm.toDict())
        })
        if (response.ok){
            window.location.href = '/'
        } else {
            // alert(await response.text())
            loginForm.showErrors(await response.json())
        }
    }
</script>
{%endblock%}
