{%extends 'base.html'%}
{%load static%}

{%block head%}
<script src="{% static 'js/bs_form.js' %}"></script>
<link rel="stylesheet" href="{% static 'users/css/auth_form.css' %}">
{%endblock%}
{%block content%}
<div class="login-form-wrap">
    <form method="" action="" class="" id="change-password-form">
        <div class="invalid-feedback non-field-invalid-feedback"></div>
        <div class="mb-3">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="oldPassword" required name="old_password">
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New Password 1</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required name="password1">
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New Password 2</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required name="password2">
            <div class="invalid-feedback"></div>
        </div>

        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>

</div>
<script>
    var changePasswordFormElem = document.getElementById('change-password-form')
    var changePasswordForm = new BsJsonForm(changePasswordFormElem)
    var csrf = '{{csrf_token}}'
    var changePasswordUrl = "{%url 'users:change_password'%}"
    var headers = {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf,
    }
    
    changePasswordForm.submitFunction = changePasswordEvent

    async function changePasswordEvent(e) {
        e.preventDefault()
        var response = await fetch(changePasswordUrl, {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(changePasswordForm.toDict())
        })
        if (response.ok){
            window.location.href = "{% url 'users:login' %}"
        } else {
            changePasswordForm.showErrors(await response.json())
        }
    }
</script>
{%endblock%}