{%extends 'base.html'%}
{%load static%}
{%block head%}
<script src="{% static 'js/bs_form.js' %}"></script>
<link rel="stylesheet" href="{% static 'users/css/auth_form.css' %}">
{%endblock%}
{%block content%}
<style>
    #collection-form {
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }


    #link-collection-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    #collection-to-chose,
    #chosen-collections {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .collection-cross {
        color: red;
        font-weight: 900;
        margin: 0 5px;
    }

    .card .badge {
        cursor: pointer;
    }
</style>

<div class="container mb-3">
    <h3>Мои колекции</h3>
    <div id="link-collection-container">
        <button class="btn btn-primary" id="create-link-collection-btn">+ создать колекцию</button>
    </div>
</div>
<div class="container">
    <div class="collapse" id="collapseCollectionForm">
        <form action="" id="collection-form">
            <div class="invalid-feedback non-field-invalid-feedback"></div>
            <input type="hidden" class="form-control" required name="id">
            <div class="mb-3">
                <label for="collection-name" class="form-label">Название</label>
                <input type="text" class="form-control" id="collection-name" required name="name">
                <div class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="collection-description" class="form-label">Описание</label>
                <input type="text" class="form-control" id="collection-description" name="description">
                <div class="invalid-feedback"></div>
            </div>
            <div class="mb-3"><button type="submit" class="btn btn-primary">Сохранить</button></div>
        </form>
        <hr>
    </div>
</div>
<div class="container">
    <h3>Мои ссылки</h3>
    <button class="btn btn-primary" id="create-link-btn">+ создать ссылку</button>
    <p id="filter-text-line">Показаны ссылки колекции: <span>Все</span></p>
    <div id="link-container-form" class="collapse">
        <form action="" id="link-form">
            <div class="mb-3">
                <label class="form-label">Выберете колекции</label>
                <div id="collection-to-chose"></div>
                <label class="form-label">выбранные колекции</label>
                <div id="chosen-collections"></div>
            </div>
            <div class="mb-3">
                <input type="text" name="collections">
                <div class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">Url</label>
                <input type="text" class="form-control" id="url" required name="url">
                <div class="invalid-feedback"></div>
            </div>
            <div class="mb-3"><button type="submit" class="btn btn-primary">Создать ссылку</button></div>
        </form>
        <hr>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-2" id="links-container">

    </div>
</div>

<!-- DELETE COLLECTION MODAL -->
<div class="modal fade" id="deleteCollectionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteCollectionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCollectionModalLabel">Удаление колекции</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="delete-collection-form">
                    <div class="invalid-feedback non-field-invalid-feedback"></div>
                    <input type="hidden" class="form-control" required name="id">
                    <button type="submit" class="btn btn-primary">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- DELETE LINK MODAL -->
<div class="modal fade" id="deleteLinkModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLinkModalLabel">Удаление ссылки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="delete-link-form">
                    <div class="invalid-feedback non-field-invalid-feedback"></div>
                    <input type="hidden" class="form-control" required name="id">
                    <button type="submit" class="btn btn-primary">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var csrf = '{{csrf_token}}'
    var headers = {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf,
    }
    class Linkapi {
        constructor() {

        }

        async list() {
            var url = "{%url 'links:userlinks-list'%}"
            var response = await fetch(url, {
                method: 'GET',
                headers: headers,
            })
            return await response.json()
        }

        async create(linkData) {
            var url = "{%url 'links:userlinks-list'%}"
            var response = await fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(linkData)
            })
            return response
        }

        async delete(linkId) {
            var url = "{%url 'links:userlinks-list'%}" + linkId + '/'
            var response = await fetch(url, {
                method: 'DELETE',
                headers: headers,
            })
            return await response
        }
    }
    class LinkCollectionManagerApi {
        constructor() {

        }
        async addLinkToCollection(collectionId, linkId) {
            var url = "{%url 'links:link_collection_manager'%}"
            var data = {
                'collection_id': collectionId,
                'link_id': linkId,
            }
            var response = await fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
            return response

        }
        async removeLinkFromCollection(collectionId, linkId) {
            var url = "{%url 'links:link_collection_manager'%}"
            var data = {
                'collection_id': collectionId,
                'link_id': linkId,
            }
            var response = await fetch(url, {
                method: 'DELETE',
                headers: headers,
                body: JSON.stringify(data)
            })
            return response
        }
    }
    class LinkCollectionsApi {
        constructor() {

        }

        async list() {
            var url = "{%url 'links:linkcollections-list'%}"
            var response = await fetch(url, {
                method: 'GET',
                headers: headers,
            })
            return await response.json()
        }

        async create(data) {
            var url = "{%url 'links:linkcollections-list'%}"
            var response = await fetch(url, {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
            return response
        }

        async deleteCollection(collectionId) {
            var url = "{%url 'links:linkcollections-list'%}" + collectionId + '/'
            var response = await fetch(url, {
                method: 'DELETE',
                headers: headers,
            })
            return await response
        }

        async updateCollection(collectionId, data) {
            var url = "{%url 'links:linkcollections-list'%}" + collectionId + '/'
            var response = await fetch(url, {
                method: 'PATCH',
                headers: headers,
                body: JSON.stringify(data)
            })
            return response
        }
    }

    class LinkCollectionButtonView {
        constructor(collectionData, deleteEventhandler, updateEventHandler) {
            this.data = collectionData
            this.deleteEventhandler = deleteEventhandler
            this.updateEventHandler = updateEventHandler
            this.elem = null
        }

        createElem() {
            const collectionData = this.data;
            const container = document.createElement('div');
            container.className = 'btn-group';
            // Обычная кнопка
            const mainButton = document.createElement('button');
            mainButton.type = 'button';
            mainButton.className = 'btn btn-secondary';
            mainButton.textContent = collectionData.name;
            mainButton.addEventListener('click', this.filterClickEventButton.bind(this))
            // Кнопка открытия dropdown
            const toggleButton = document.createElement('button');
            toggleButton.type = 'button';
            toggleButton.className = 'btn btn-secondary dropdown-toggle dropdown-toggle-split';
            toggleButton.id = `dropdownMenuButton-${collectionData.id}`;
            toggleButton.setAttribute('data-bs-toggle', 'dropdown');
            toggleButton.setAttribute('aria-expanded', 'false');
            toggleButton.setAttribute('data-bs-reference', 'parent');
            const toggleSpan = document.createElement('span');
            toggleSpan.className = 'visually-hidden';
            toggleSpan.textContent = 'Toggle Dropdown';
            toggleButton.appendChild(toggleSpan);
            // Список dropdown
            const ul = document.createElement('ul');
            ul.className = 'dropdown-menu';
            ul.setAttribute('aria-labelledby', toggleButton.id);
            const actionLink1 = this._createActionLink('Изменить', this.changeCollectionClickEvent);
            ul.appendChild(actionLink1);
            const actionLink2 = this._createActionLink('Удалить', this.deleteCollectionClickEvent);
            ul.appendChild(actionLink2);
            container.appendChild(mainButton);
            container.appendChild(toggleButton);
            container.appendChild(ul);
            this.elem = container;
            return this.elem;
        }


        _createActionLink(text, clickFunction) {
            const li = document.createElement('li');
            const a = document.createElement('a');
            a.className = 'dropdown-item';
            a.href = '#';
            a.textContent = text;
            li.appendChild(a);
            a.addEventListener('click', clickFunction.bind(this))
            return li
        }
        changeCollectionClickEvent() {
            var changeForm = new BsJsonForm(collectionFormElem)
            changeForm.feed(this.data)
            changeForm.submitFunction = this.updateEventHandler
            collapseCollectionForm.show()
        }

        remove() {
            this.elem.remove()
        }

        deleteCollectionClickEvent() {
            var deleteForm = new BsJsonForm(deleteCollectionForm)
            var data = { 'id': this.data['id'] }
            deleteForm.feed(data)
            deleteForm.submitFunction = this.deleteEventhandler
            console.log(deleteForm._submitFunction)
            deleteCollectionModal.show()
        }

        filterClickEventButton(e) {
            var collectionId = this.data.id
            filterByCollection(collectionId)
        }
    }

    class LinkCollectionsView {
        constructor() {
            this.container = document.getElementById('link-collection-container')
            this.collectionButtons = new Map()
        }

        async drawButtons() {
            var buttonsData = await linkCollectionApi.list()
            buttonsData.forEach(collectionData => {
                this._drawButton(collectionData)
            })
        }

        _drawButton(collectionData) {
            var collectionButton = new LinkCollectionButtonView(
                collectionData,
                this.deleteCollectionEvent.bind(this),
                this.updateCollectionEvent.bind(this),
            )
            this.collectionButtons.set(collectionData.id, collectionButton)
            var elem = collectionButton.createElem()
            this.container.appendChild(elem)
        }

        createLinkCollectionEventClick() {
            collapseCollectionForm.toggle()
            var form = new BsJsonForm(collectionFormElem)
            form.submitFunction = this.createLinkCollectionHandler.bind(this)
        }

        async createLinkCollectionHandler(e) {
            e.preventDefault()
            var form = BsJsonForm.getInstance(collectionFormElem)
            var data = form.toDict()
            var response = await linkCollectionApi.create(data)
            if (response.ok) {
                var data = await response.json()
                this._drawButton(data)
                collapseCollectionForm.hide()
            } else {
                alert(await response.text())
            }
        }

        async deleteCollectionEvent(e) {
            e.preventDefault()
            var deleteForm = BsJsonForm.getInstance(deleteCollectionForm)
            var data = deleteForm.toDict()
            var collectionId = data['id']
            var response = await linkCollectionApi.deleteCollection(collectionId)
            deleteCollectionModal.hide()
            const collectionButton = this.collectionButtons.get(collectionId);
            if (collectionButton) {
                collectionButton.remove(); // удаляем из DOM
                this.collectionButtons.delete(collectionId); // удаляем из карты
            }
        }

        async updateCollectionEvent(e) {
            e.preventDefault()
            var updateForm = BsJsonForm.getInstance(collectionFormElem)
            var data = updateForm.toDict()
            var collectionId = data['id']
            var response = await linkCollectionApi.updateCollection(collectionId, data)
            if (response.ok) {
                var newData = await response.json()
                this.updateButton(newData['id'], newData)
                collapseCollectionForm.hide()
            } else {
                alert(await response.text())
            }
        }

        updateButton(collectionId, NewData) {
            var oldcollectionBtn = this.collectionButtons.get(collectionId)
            this.collectionButtons.delete(collectionId)
            var collectionButton = new LinkCollectionButtonView(
                NewData,
                this.deleteCollectionEvent.bind(this),
                this.updateCollectionEvent.bind(this),
            )
            this.collectionButtons.set(NewData.id, collectionButton)
            var elem = collectionButton.createElem()
            oldcollectionBtn.elem.replaceWith(elem)
        }

    }

    class CreateLinkForm {
        constructor(linkView) {
            this.elem = linkFormElem
            this.collectionIdsInput = this.elem.querySelector('input[name=collections]')
            this.collectionUrlInput = this.elem.querySelector('input[name=url]')
            this.collectionToChoseBlock = document.getElementById('collection-to-chose')
            this.chosenCollectionBlock = document.getElementById('chosen-collections')
            this.linkView = linkView

            this._init_()
        }

        _init_() {
            this.collectionToChoseBlock.innerHTML = '';
            this.chosenCollectionBlock.innerHTML = '';
            this._drawCollectionButtons()
            var form = new BsJsonForm(this.elem)
            form.submitFunction = this.createLinkEvent.bind(this)
        }

        async _drawCollectionButtons() {
            var buttonsData = await linkCollectionApi.list()
            buttonsData.forEach((value, key) => {
                var collectionButton = document.createElement('button')
                collectionButton.dataset.collectionId = value['id']
                collectionButton.classList.add('btn', 'btn-secondary')
                collectionButton.setAttribute('type', 'button');
                collectionButton.innerText = value['name']
                this.collectionToChoseBlock.appendChild(collectionButton)
                collectionButton.addEventListener('click', (e) => this.clickCollectionButtonEvent(e));
            });
        }

        clickCollectionButtonEvent(e) {
            var button = e.currentTarget
            var parrent = button.parentElement
            if (parrent.id == 'collection-to-chose') {
                this.chosenCollectionBlock.appendChild(button)
                button.classList.remove('btn-secondary')
                button.classList.add('btn-primary')
                var crosSpan = document.createElement('span')
                crosSpan.innerText = 'X'
                crosSpan.classList.add('collection-cross')
                button.appendChild(crosSpan)
            } else {
                this.collectionToChoseBlock.appendChild(button)
                button.classList.remove('btn-primary')
                button.classList.add('btn-secondary')
                button.querySelector('span').remove()
            }
            this._updateChossinCollectionIds()
        }

        _updateChossinCollectionIds() {
            var collectionIds = []
            this.chosenCollectionBlock.querySelectorAll('button').forEach(button => {
                collectionIds.push(button.dataset.collectionId)
            })
            this.collectionIdsInput.value = collectionIds.join(',')
        }

        async createLinkEvent(e) {
            e.preventDefault()
            var form = BsJsonForm.getInstance(this.elem)
            var formData = form.toDict()
            formData['collections'] = this._collectionIdsStringToList()
            var response = await linkApi.create(formData)
            if (response.ok) {
                console.log(await response.json())
                this._resetForm()
                collapseCreateLinkForm.hide()
            } else {
                var responseData = await response.json()
                form.showErrors(responseData)
            }
        }
        _collectionIdsStringToList() {
            if (this.collectionIdsInput.value == "") {
                return []
            }
            return this.collectionIdsInput.value.split(',')
        }

        _resetForm() {
            this.chosenCollectionBlock.querySelectorAll('button').forEach(button => {
                button.click()
            })
            this.collectionIdsInput.value = ''
            this.collectionUrlInput.value = ''
        }
    }

    class LinkView {
        constructor(linkData, deleteEventHandler) {
            this.deleteEventHandler = deleteEventHandler
            this.data = linkData;
            this.elem = null
        }
        show() {
            this.elem.style.display = 'block'
        }

        hide() {
            this.elem.style.display = 'none'
        }

        remove() {
            this.elem.remove()
        }

        async removeLinkFromCollection(e) {
            var collectionBadge = e.currentTarget
            var collectionId = collectionBadge.dataset.collectionId
            var linkId = this.data.id
            var response = await linkCollectionManagerApi.removeLinkFromCollection(collectionId, linkId)
            var linkData = await response.json()
            linksView.updateLink(linkData)
        }

        async addToCollectionEventHandler(e) {
            var element = e.currentTarget
            var collectionId = element.dataset.collectionId
            var linkId = this.data.id
            var response = await linkCollectionManagerApi.addLinkToCollection(collectionId, linkId)
            var linkData = await response.json()
            linksView.updateLink(linkData)
        }

        addToCollectionClickButtonEvent() {
            var notLinkCollectionsIds = this._getNotLinkCollectionsIds()
            var dropDownMenu = this.elem.querySelector('.dropdown-menu')
            dropDownMenu.innerHTML = ''
            notLinkCollectionsIds.forEach(collectionId => {
                var collection = linkCollectionsView.collectionButtons.get(collectionId)
                const item = document.createElement('li');
                const link = document.createElement('a');
                link.className = 'dropdown-item';
                link.href = '#';
                link.textContent = collection.data.name;
                item.appendChild(link);
                dropDownMenu.appendChild(item);
                item.dataset.collectionId = collection.data.id
                item.addEventListener('click', this.addToCollectionEventHandler.bind(this))
            })
        }
        _getNotLinkCollectionsIds() {
            // получить список колекций в которые не добавлен линк
            var currentCollectionsIds = this._currentCollectionsIds()
            var notLinkCollectionsIds = []
            var collections = linkCollectionsView.collectionButtons
            collections.forEach(collection => {
                if (!currentCollectionsIds.includes(collection.data.id)) {
                    notLinkCollectionsIds.push(collection.data.id)
                }
            })
            return notLinkCollectionsIds
        }
        _currentCollectionsIds() {
            var ids = []
            this.data.collections.forEach(collectionData => {
                ids.push(collectionData.id)
            })
            return ids
        }

        deleteEventClick(e) {
            e.preventDefault()
            var deleteForm = new BsJsonForm(deleteLinkFormElem)
            deleteForm.feed(this.data)
            deleteForm.submitFunction = this.deleteEventHandler
            deleteLinkModal.show()
        }

        createElem() {
            const col = document.createElement('div');
            col.className = 'col';
            const card = document.createElement('div');
            card.className = 'card h-100';
            const img = document.createElement('img');
            img.className = 'card-img-top';
            img.src = this.data.image_url;
            img.alt = this.data.title || '...';
            const cardBody = document.createElement('div');
            cardBody.className = 'card-body';
            const title = document.createElement('h5');
            title.className = 'card-title';
            title.textContent = this.data.title;
            const description = document.createElement('p');
            description.className = 'card-text';
            description.textContent = this.data.description;
            const type = document.createElement('p');
            type.className = 'card-text';
            type.textContent = `Type: ${this.data.type}`;
            const loadStatus = document.createElement('p');
            loadStatus.className = 'card-text';
            loadStatus.innerHTML = `Load status: <span class="badge bg-success">${this.data.load_status}</span>`;
            const deleteLink = document.createElement('p');
            deleteLink.className = 'card-text';
            const deleteAnchor = document.createElement('a');
            deleteAnchor.addEventListener('click', this.deleteEventClick.bind(this))
            deleteAnchor.href = '#';
            deleteAnchor.className = 'link-danger';
            deleteAnchor.textContent = 'Удалить ссылку';
            deleteLink.appendChild(deleteAnchor);
            // Dropdown
            const dropdownWrapper = document.createElement('div');
            const dropdown = document.createElement('div');
            dropdown.className = 'dropdown';
            const dropdownButton = document.createElement('button');
            dropdownButton.className = 'btn btn-secondary dropdown-toggle';
            dropdownButton.type = 'button';
            dropdownButton.id = `dropdownMenuButton${this.data.id}`;
            dropdownButton.setAttribute('data-bs-toggle', 'dropdown');
            dropdownButton.setAttribute('aria-expanded', 'false');
            dropdownButton.textContent = 'Добавить в коллекцию';
            const dropdownMenu = document.createElement('ul');
            dropdownMenu.className = 'dropdown-menu';
            dropdownMenu.setAttribute('aria-labelledby', dropdownButton.id);
            dropdownButton.addEventListener('click', this.addToCollectionClickButtonEvent.bind(this))
            // Добавляем пункты в выпадающий список
            this.data.collections.forEach(collection => {
                //
            });
            dropdown.appendChild(dropdownButton);
            dropdown.appendChild(dropdownMenu);
            dropdownWrapper.appendChild(dropdown);
            cardBody.append(title, description, type, loadStatus, deleteLink, dropdownWrapper);
            // Footer с коллекциями
            const cardFooter = document.createElement('div');
            cardFooter.className = 'card-footer';
            const small = document.createElement('small');
            small.className = 'text-muted';
            small.textContent = 'Колекции:';
            const badgesContainer = document.createElement('div');
            this.data.collections.forEach(collection => {
                const badge = document.createElement('span');
                badge.className = 'badge bg-secondary me-1'; // чуть отступ
                badge.innerHTML = `${collection.name} <span class="collection-cross">X</span>`;
                badge.dataset.collectionId = collection.id
                badgesContainer.appendChild(badge);
                badge.addEventListener('click', this.removeLinkFromCollection.bind(this))
            });
            cardFooter.append(small, badgesContainer);
            // Собираем всю карточку
            card.append(img, cardBody, cardFooter);
            col.appendChild(card);
            this.elem = col
            return col;
        }
    }


    class LinksContainerView {
        constructor() {
            this.containerElem = document.getElementById('links-container')
            this.links = new Map()
        }

        async drawLinks() {
            var linksData = await linkApi.list()
            linksData.forEach(linkData => {
                var link = new LinkView(linkData, this.deleteLinkhandler.bind(this))
                var linkElem = link.createElem()
                this.links.set(linkData.id, link)
                this.containerElem.appendChild(linkElem)
            })
        }

        async deleteLinkhandler(e) {
            e.preventDefault()
            var deleteForm = BsJsonForm.getInstance(deleteLinkFormElem)
            var data = deleteForm.toDict()
            var response = await linkApi.delete(data.id)
            if (response.ok) {
                deleteLinkModal.hide()
                var link = this.links.get(data.id)
                link.remove()
                this.links.delete(data.id)
            } else {
                alert(await response.text())
            }
        }

        updateLink(linkData) {
            var link = new LinkView(linkData, this.deleteLinkhandler.bind(this))
            var linkElem = link.createElem()
            var oldLink = this.links.get(linkData.id)
            this.links.delete(linkData.id)
            oldLink.elem.replaceWith(linkElem)
            this.links.set(linkData.id, link)
        }

        filterByCollection(collectionId) {
            if (collectionId == undefined) {
                for (const [id, link] of this.links) {
                    link.show()
                }
                return
            }

            for (const [id, link] of this.links) {
                var collectionsIds = link._currentCollectionsIds()
                if (collectionsIds.includes(collectionId)) {
                    link.show()
                } else {
                    link.hide()
                }
            }
        }
    }

    function filterByCollection(collectionId) {
        var collection = linkCollectionsView.collectionButtons.get(collectionId)
        filterTextLine.querySelector('span').innerHTML = `"${collection.data.name}"`
        var dropFilterButton = document.createElement('button')
        dropFilterButton.classList.add('btn', 'btn-secondary')
        dropFilterButton.innerText = `Стробить фильтр`
        filterTextLine.querySelector('span').appendChild(dropFilterButton)
        linksView.filterByCollection(collectionId)
        dropFilterButton.addEventListener('click', dropCollectionFilter)
    }
    function dropCollectionFilter() {
        filterTextLine.querySelector('span').innerHTML = `"Все"`
        linksView.filterByCollection()
    }
    var filterTextLine = document.getElementById('filter-text-line')

    // collections
    const createLinkCollectionBtn = document.getElementById('create-link-collection-btn')
    var collectionFormElem = document.getElementById('collection-form')
    var deleteCollectionForm = document.getElementById('delete-collection-form')
    const deleteCollectionModalElem = document.getElementById('deleteCollectionModal')
    const deleteCollectionModal = new bootstrap.Modal(deleteCollectionModalElem)

    // link
    var deleteLinkModalElem = document.getElementById('deleteLinkModal')
    var deleteLinkFormElem = document.getElementById('delete-link-form')
    var deleteLinkModal = new bootstrap.Modal(deleteLinkModalElem)
    var linkContainerCollapseElem = document.getElementById('link-container-form')
    const linkFormElem = document.getElementById('link-form')
    var linkForm = new BsJsonForm(linkFormElem)


    const linkCollectionApi = new LinkCollectionsApi()
    const linkApi = new Linkapi()
    const linkCollectionManagerApi = new LinkCollectionManagerApi()
    const linkCollectionsView = new LinkCollectionsView()
    const linksView = new LinksContainerView()

    linksView.drawLinks()

    var collapseCollectionFormElem = document.getElementById('collapseCollectionForm')
    var collapseCollectionForm = new bootstrap.Collapse(collapseCollectionFormElem, {
        toggle: false
    })
    var collapseCreateLinkForm = new bootstrap.Collapse(linkContainerCollapseElem, {
        toggle: false
    })
    document.getElementById('create-link-btn').addEventListener('click', function () {
        collapseCreateLinkForm.toggle()
    })

    createLinkCollectionBtn.addEventListener('click', linkCollectionsView.createLinkCollectionEventClick.bind(linkCollectionsView))
    linkCollectionsView.drawButtons()
    const createLinkForm = new CreateLinkForm(linkCollectionsView)
</script>
{%endblock%}